html,body{
	height: 100%;
	width:100%;
	font-family: 'Poppins',sans-seriff;
	color: #222;
}

.navbar{
	padding: .8rem;
}

.navbar-nav li{
	padding-right: 20px;
}

.nav-link{
	font-size: 1.1em !important;
}

.carousel-inner img{
	width: 100%;
	height:100%;
}

.carousel-caption{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-shadow: 1px 1px 15px #000;
}

footer{
	background-color:#3f3f3f;
	color:#d5d5d5;
	padding-top: 2rem;
}

footer a{
	color: white;
  background-color: transparent;
  text-decoration: none;
}

footer a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.modal-body a{
	color: black;
	background-color: transparent;
  text-decoration: none;
}

.modal-body a:hover{
	color: black;
	background-color: transparent;
  text-decoration: none;
}

